body{
  font-family: Arial;
  background:#0f172a;
  color:white;
  margin:0;
}

/* header */
header{
  text-align:center;
  padding:25px;
  background:#020617;
}

.back{
  display:inline-block;
  margin-top:10px;
  color:#38bdf8;
  text-decoration:none;
}

/* tools */
.tools{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:50px;
  flex-wrap:wrap;
}

.tool-card{
  padding:30px;
  background:#1e293b;
  border-radius:15px;
  text-decoration:none;
  color:white;
  font-size:20px;
  transition:0.3s;
  width:220px;
  text-align:center;
}
.tool-card:hover{
  background:#38bdf8;
  transform:scale(1.05);
}
.disabled{
  opacity:0.4;
}

/* todo */
.container{
  width:600px;
  margin:40px auto;
}

.todo-input{
  display:flex;
  gap:10px;
}

input,select,button{
  padding:12px;
  border:none;
  border-radius:8px;
}

input,select{
  flex:1;
}

button{
  background:#22c55e;
  color:white;
  cursor:pointer;
}

ul{
  list-style:none;
  padding:0;
}

li{
  background:#1e293b;
  padding:15px;
  margin-top:12px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.priority-high{color:red;}
.priority-medium{color:orange;}
.priority-low{color:lightgreen;}
