*{
  box-sizing:border-box;
}

html,body{
  margin:0;
  padding:0;
  max-width:100%;
  overflow-x:hidden;
  font-family:-apple-system,BlinkMacSystemFont,"SF Pro Display","Segoe UI",sans-serif;
}

:root{
  --bg-image:url('https://images.unsplash.com/photo-1656803957024-a9d1b0475841?q=80&w=1200&auto=format&fit=crop');
}

body{
  min-height:100vh;
  background:#000;
}

body::before{
  content:"";
  position:fixed;
  inset:0;
  background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.75)),
    var(--bg-image);
  background-size:cover;
  background-position:center;
  z-index:-2;
  transform:scale(1.04);
}

.auth-container{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  padding:30px 20px 60px;
}

.dashboard-wrap{
  width:100%;
  max-width:1100px;
}


.glass-header{
  width:100%;
  margin:0 auto 30px;
  padding:14px 26px;       
  margin-top: 15px;
  border-radius:18px;       

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(255,255,255,.07);
  backdrop-filter:blur(25px);
  -webkit-backdrop-filter:blur(25px);

  border:1px solid rgba(255,255,255,.14);
  color:#fff;

  box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.glass-header h1{
  font-size:20px;
  margin:0;
  font-weight:600;
  letter-spacing:.4px;
}

.glass-header p{
  margin:2px 0 0;
  font-size:13px;
  opacity:.7;
}

.auth-profile{
  display:flex;
  gap:14px;
  align-items:center;
  font-size:14px;
}

.logout-small{
  padding:6px 14px !important;
  border-radius:10px !important;
  font-size:6px;
}

.tools-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:18px;                 
}

.tool-tile{
  text-decoration:none;
  position:relative;
  height:120px;            
  border-radius:20px;
  padding:2px;

  background:rgba(255,255,255,.06);
  backdrop-filter:blur(14px);
  -webkit-backdrop-filter:blur(14px);

  display:flex;
  transition:.35s cubic-bezier(.2,.9,.25,1);
  box-shadow:0 8px 25px rgba(0,0,0,.35);
}

.tile-core{
  flex:1;
  border-radius:18px;
  background:rgba(0,0,0,.45);
  backdrop-filter:blur(20px);

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;

  color:#fff;
  font-size:15px;
  font-weight:600;
  padding:12px;
  transition:.25s;
}

.tool-tile:hover{
  transform:translateY(-5px) scale(1.02);
}

.tool-tile:hover .tile-core{
  background:rgba(0,0,0,.6);
}

.tool-tile.disabled{
  opacity:.4;
  pointer-events:none;
}

.tool-tile,
.glass-header{
  opacity:0;
  transform:translateY(20px);
  transition:.6s cubic-bezier(.2,.9,.25,1);
}

.visible{
  opacity:1;
  transform:translateY(0);
}

@media(max-width:768px){

  .glass-header{
    flex-direction:column;
    gap:10px;
    text-align:center;
    padding:14px;
  }

  .tools-grid{
    grid-template-columns:1fr;
  }

  .tool-tile{
    height:100px;
  }
}
